.container {
  border: 1px solid black;
  width: 500px;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7 {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item0 {
  border: 1px solid black;
  border-top: 0;
}

.item4 { 
  border-bottom: 0;
}

.item5 { 
  grid-area: 2 / 2 / 2 / 4;
  font-weight: bold;
}

.item5 > span {
  cursor: pointer;
}
